/* Importing google fonts
1. Go to Google fonts
2. select all fonts that you want to add
3. Copy the import Line and paste it here */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    /* 1. For Flex direction as row - Justify Content: center - horizontally centers the text
       2. For Flex direction as Column - Justify Content: center - vertically centers the text */
    justify-content: center;
    /* 1. For Flex direction as row - align-items: center - vertically centers the text
       2. For Flex direction as Column - align-items: center - horizontally centers the text */
    align-items: center;
    height: 100vh;
    overflow: auto;
}
